html{
    scroll-behavior: smooth;
}

a:hover { 
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
}

img.home__profilePicture{
    cursor: pointer;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(2, 0, 36)), to(rgb(32, 136, 255))) fixed
}


@media (min-width:800px){
    #home__descContainer{
        width: 35vw;
    }
}

@media (min-width:1280px){
    #home__descContainer{
        width: 35vw;
    }
    section{
        transform: translate(0%, 35%);
    }
    #CV{
        transform: translate(0%, 15%);
    }
    header{
        margin-top: 20pt;
    }
    .nav__divider{
        margin-top: 1pt;
    }
    .cv__BigTitle{
        padding-top: 2pt;
        padding-bottom: 2pt;
        font-size: xx-large;
    }
    .cv__Title, .cv__Subtitle, .cv__Date, .cv_Description{
        font-size: large;
    }
}
@media (max-width:1024px){
    #home__descContainer{
        width: 90vw;
    }
    section{
        transform: translate(0%, 20%);
    }
    #CV{
        transform: translate(0%, 12%);
    }
    .menuText{
        font-size: 20px;
    } 
    img.home__profilePicture{
        width: 150px;
    }
    a.nav__item{
        font-size: 20px;
    }
    p.nav__item{
        font-size: 20px;
    }
    button.nav__item{
        font-size: 20px;
    }
    li.cv__title{
        font-size: 34px;
        margin-bottom: 0;
    }
    li.cv__subtitle{
        font-size: 24px;
    }
    p.cv_expTitle{
        font-size: 14px;
    }
    p.cv_expText{
        font-size: 12px;
    }
    img.nav__image{
        width: 20px;
    }
    button.nav__button{
        font-size: 20px;
    }
    img.cv_expImage{
        padding:4pt;
    }
    .cv__BigTitle{
        font-size: large;
    }
    .cv__Title, .cv__Subtitle, .cv__Date, .cv_Description{
        font-size: medium;
    }
}

p{
    color: white;
}

a:hover{
    text-decoration: none;
}

section {
    width:100%;
    top: 0;
    position: absolute;
}

#CV{
    visibility: hidden;
}

.cv__Exp{
    background:white;
    opacity: 0.85;
    width: 20rem;
}

#home__descContainer{
    text-align: justify;
}

.cv__Title{
    color: rgb(0, 50, 100);
    font-weight: bold;
}

.cv__Subtitle, .cv__Date{
    color: rgb(0, 50, 100);
}

.cv__Education{
    cursor: default;
}

.cv__description{
    color: black;
}