a:hover { 
    opacity: 0.5;
    text-decoration: underline;
}

@media (min-width:500px){
    #central-background{
        background: linear-gradient(180deg, rgb(4, 0, 71) 0%, rgb(3, 3, 148) 35%, rgb(0, 110, 255) 100%)
    }

}

