html{
    scroll-behavior: smooth;
}

a:hover { 
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
}

#profile-picture{
    cursor: pointer;
}

@media (min-width:400px){
    header{
        padding: 4pt;
    }
    #central-backgroxund{
        background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(0, 110, 255) 100%)
    }
    #cv__title{
        padding-bottom: 6px;
    }
    li.cv__subtitle{
        padding-top: 4pt;
        padding-bottom: 4pt;
    }
}

@media (max-width:400px){
    #profile-picture{
        width: 150px;
    }
    a.nav__item{
        font-size: 20px;
    }
    p.nav__item{
        font-size: 20px;
    }
    button.nav__item{
        font-size: 20px;
    }
    #cv__title{
        font-size: 34px;
    }
    li.cv__subtitle{
        font-size: 24px;
    }
    p.cv__buttonTitle{
        font-size: 14px;
    }
    p.cv__buttonText{
        font-size: 12px;
    }
    img.contactMeans__image{
        width: 20px;
    }
    button.contactMeans__button{
        font-size: 20px;
    }
}

header.sticky-navbar{
    background-color: rgb(2, 0, 36);
    opacity: 0.8;
}
